@model Garage2.Models.ViewModels.CheckOutViewModel

@{
    ViewData["Title"] = "Check Out";
}

<div class="container col-md-8">
    <div class="col-md-8 mx-auto">
        <div>
            <a asp-action="Index" class="sv-back-link small">&larr; Back to overview</a>
        </div>

        <div class="garage-header">
            <h1>Check Out</h1>
            <h4 class="text-danger">Are you sure you want to check out this vehicle?</h4>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="garage-card">
                    <h4 class="mb-3 text-primary">Vehicle Information</h4>
                    <hr />

                    <dl class="row">

                        <dt class="col-5">
                            Vehicle Type
                        </dt>
                        <dd class="col-7">
                            @Model.VehicleType
                        </dd>

                        <dt class="col-5">
                            Registration Number
                        </dt>
                        <dd class="col-7">
                            @Model.RegistrationNumber
                        </dd>

                        <dt class="col-5">
                            Arrival Time
                        </dt>
                        <dd class="col-7">
                            @Model.ArrivalTime.ToString("yyyy-MM-dd HH:mm")
                        </dd>

                        <dt class="col-5">
                            Parked Duration
                        </dt>
                        <dd class="col-7">
                            <span class="duration-cell"
                                data-arrival-time='@Model.ArrivalTime.ToString("yyyy-MM-ddTHH:mm:ss")'>
                            </span>
                        </dd>

                    </dl>

                    <form asp-action="CheckOut">
                        <input type="hidden" asp-for="Id" />

                        <div class="mt-4 d-flex gap-4">
                            <button type="submit"
                                class="btn btn-danger w-50" >Confirm Check Out</button>

                            <a asp-action="Index"
                            class="btn btn-secondary w-50">
                                Cancel
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
